// Load processes parameters
includeConfig 'conf/base.config'
// Load resources configuration
includeConfig 'conf/resources.config'

manifest {
    name = 'ORSON'
    author = 'IFREMER-IRSI-SeBiMER'
    description = 'Workflow for prOteome and tRanScriptome functiOnal aNnotation developped by Ifremer SeBiMER team'
    homePage = 'https://github.com/ifremer-bioinformatics/orson'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version = '1.2.0'
}

// Execution profiles
profiles {
    test { 
        includeConfig 'conf/test.config'
        includeConfig 'conf/reports.config'
        // Workdir for temporary data
        workDir = "${baseDir}/work/$params.projectName"
    }
    custom {
        includeConfig 'conf/custom.config'
        includeConfig 'conf/reports.config'
        // Workdir for temporary data
        workDir = "${baseDir}/work/$params.projectName"
    }
    singularity {
        docker.enabled = false
        singularity.autoMounts = true
        singularity.enabled = true
        process {
            withName : downloadDB {
                container = "${baseDir}/containers/beedeem-4.7.4.sif"
            }
            withName : busco {
                container = "${baseDir}/containers/busco-5.4.3.sif"
            }
            withName : plast {
                container = "${baseDir}/containers/beedeem-4.7.4.sif"
            }
            withName : species_taxids {
                container = "${baseDir}/containers/blast-2.13.0.sif"
            }
            withName : blast {
                container = "${baseDir}/containers/blast-2.13.0.sif"
            }
            withName : diamond {
                container = "${baseDir}/containers/diamond-2.0.15.sif"
            }
            withName : interpro {
                container = "${baseDir}/containers/iprscan-5.59-91.0.sif"
            }
            withName : beedeem_annotation {
                container = "${baseDir}/containers/beedeem-4.7.4.sif"
            }
            withName : eggnogmapper {
                container = "${baseDir}/containers/eggNOG-mapper-2.1.9.sif"
            }
            withName : hectar {
                container = "${baseDir}/containers/hectar-1.3.sif"
            }
        }
    }
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
