/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for ORSON processes
 */

params {

    /* 
    General parameters 
    */
    // Help message
    help = false
    monochrome_logs = false
    name = false
    email = false
    email_on_fail = false
    hostnames = false

    /*
    Outputs steps directory names in output directory
    */
    report_dirname = "03_final_results"
    steps_data = "02_intermediate_data"
    busco_dirname = "${steps_data}/00_busco"
    plast_dirname = "${steps_data}/01_plast"
    blast_dirname = "${steps_data}/01_blast"
    diamond_dirname = "${steps_data}/01_diamond"
    interpro_dirname = "${steps_data}/02_interproscan"
}
