/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for ORSON processes
 */

params {

    // Analyzed project name
    projectName = ""
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    // Input FASTA file
    fasta = ""
    // Type of data - for nucleic acid sequences: "n"; for protein sequences: "p"
    query_type = ""
    // Number of sequences in each fasta chunk
    chunk_size = 

    /*
    Steps to activate or deactivate
    */
    downloadDB_enable = true
    iprscan_enable = true
    beedeem_annot_enable = true
    eggnogmapper_enable = false
    
    /*
    For transcriptome annotation, a BUSCO process is activated, set the path to the BUSCO lineage to use. For multiple lineages analysis, set path for each desired lineages separating them with commas. 
    */
    lineage = ""

    /*
    Tool used for the sequence comparison. Can be PLAST, BLAST or diamond
    */
    hit_tool = ""

    /*
    Installing annotated sequence banks
    */
    db_dir = "${baseDir}/databases"
    bank_list = "Enzyme,Uniprot_SwissProt"

    /*
    If hit_tool = "PLAST" and you want to use another annotated sequence banks, modify the following parameters:    
    */
    plast_db = "${db_dir}/p/Uniprot_SwissProt/current/Uniprot_SwissProt/Uniprot_SwissProtM.pal"

    /*
    If hit_tool = "BLAST" and you want to use another annotated sequence banks, modify the following parameters:
    */ 
    blast_db = "${db_dir}/p/Uniprot_SwissProt/current/Uniprot_SwissProt/Uniprot_SwissProt"

    /*
    Annotation of hits using BeeDeeM. Can be "bco" or "full".
    See https://pgdurand.gitbook.io/beedeem/utils/cmdline-annotate for more details.
    */
    annot_type = "bco"
}
