/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for ORSON processes
 */

params {

    // Analyzed project name
    projectName = "annotation_workflow_test"
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    // Input FASTA file
    fasta = "${baseDir}/test_dataset/query.fa"
    // Type of data - for nucleic acid sequences: "n"; for protein sequences: "p"
    query_type = "p"
    // Number of sequences in each fasta chunk
    chunk_size = 20

    /*
    Steps to activate or deactivate
    */
    iprscan_enable = true
    beedeem_annot_enable = true

    /*
    Tool used for the sequence comparison. Can be PLAST, BLAST or diamond
    */
    hit_tool = "PLAST"

    /*
    If hit_tool = "PLAST", modify the following parameters:    
    */
    plast_db = "/home/ref-bioinfo/beedeem/p/Uniprot_SwissProt/current/Uniprot_SwissProt/Uniprot_SwissProtM.pal"

    /*
    If hit_tool = "BLAST", modify the following parameters:
    */ 
    blast_db = "/home/ref-bioinfo/beedeem/p/Uniprot_SwissProt/current/Uniprot_SwissProt/Uniprot_SwissProt"

    /*
    If hit_tool = "diamond", modify the following parameters:
    */
    diamond_db = "/home/ref-bioinfo/tools_data/diamond/uniprot-ref-proteomes/uniprot_ref_proteomes_2019-10.dmnd"

    /*
    Annotation of hits using BeeDeeM. Can be "bco" or "full"
    */
    annot_type = "bco"
}
