/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for ORSON processes
 */

params {

    // Analyzed project name
    projectName = "orson_test"
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    // Input FASTA file
    fasta = "${baseDir}/test_dataset/query.fa"
    // Type of data - for nucleic acid sequences: "n"; for protein sequences: "p"
    query_type = "p"
    // Number of sequences in each fasta chunk
    chunk_size = 20

    /*
    Steps to activate or deactivate
    */
    downloadDB_enable = true
    busco_enable = true
    iprscan_enable = true
    beedeem_annot_enable = true
    eggnogmapper_enable = true
    
    lineage = "primates_odb10"
	
    /*
    Installing annotated sequence banks
    */
    db_dir = "${baseDir}/databases"
    bank_list = "GeneOntology_terms,InterPro_terms,Enzyme,NCBI_Taxonomy,SwissProt_human"

    /*
    Tool used for the sequence comparison. Can be PLAST, BLAST or diamond
    */
    // hit_tool = "diamond"
    sensitivity = "fast"
    blast_db = "${db_dir}/p/Uniprot_SwissProt/current/Uniprot_SwissProt/Uniprot_SwissProt"
    restricted_search = false
    restricted_tax_id = "none"

    hit_tool = "PLAST"
    plast_db = "${db_dir}/p/SwissProt_human/current/SwissProt_human/SwissProt_humanM.pal"
    /*
    Annotation of hits using BeeDeeM. Can be "bco" or "full".
    See https://pgdurand.gitbook.io/beedeem/utils/cmdline-annotate formore details.
    */
    annot_type = "bco"
}
